body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Questrial', sans-serif; 
}

h4 {
  text-align: center;
}

.navbar {
    border-radius: 0px;
}

.dashboard_grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  position: fixed;
  width: 100%;
  height: auto;
}

.grid_item{
  align-content: center;
  margin: 5%;
  display: grid;
  grid-template-rows: 15% 85%;
  text-align: center;
  height: 450px;
  background-color: rgb(22 188 185); 
  border-radius: 10px;
}

.grid_item > h3{
  font-size: 150%;
  height: 100%;
  width: 100%;
  top: 50%;
  color: rgb(35 37 40);
}

.grid_item > h3:hover{
  font-size: 200%;
}

.grid_item > img {
  width: 100%;
  height: 100%;
  padding: 10%;
  padding-top: 0%;
  align-content: center;
}



@media only screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }

  .dashboard_grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    position: relative;
  }

  .grid_item{
    height: 300px;
  }


}
.btn btn-outline-primary {
  font-size: 12px;
}

