


body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Questrial', sans-serif; 
}

h4 {
  text-align: center;
}

.navbar {
    border-radius: 0px;
}

.dashboard_grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  position: fixed;
  width: 100%;
  height: auto;
}

.grid_item{
  align-content: center;
  text-align: center;
  margin: 5%;
  height: 450px;
  font-size: 5%;
  background-color: rgb(132, 224, 255); 
  border-radius: 5px;
}

.grid_item:hover{
  font-size: 6%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }

  .dashboard_grid{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    position: relative;
  }

  .grid_item{
    height: 300px;
  }

}
.btn btn-outline-primary {
  font-size: 12px;
}

