.Employees {
    width: 80%;
    margin: 0 auto;
    .list {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 650px;
    }
}

.listTitle .employeeItem {
    border-bottom: 2px solid;
    border-bottom:  var(--main-style-color);
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .Employees {
        width: 95%;
    }
}