.list {
    .list {
        overflow-x: hidden;
        overflow-y: auto;
        height: 650px;
    }

    .listTitle {
        border-bottom: 10px solid;
        border-bottom:  var(--main-style-color);
        color: var(--main-style-color);
        font-weight: bolder;
    }

    >h1 {
        display: inline;
    }
    .seachBox {
        float: right;
    }
}