.list {
    .list {
        overflow-x: hidden;
        overflow-y: auto;
        height: 650px;
    }

    .listTitle {
        border-bottom: 10px solid;
        border-bottom:  var(--main-style-color);
        color: var(--main-style-color);
        font-weight: bolder;

        >div:hover{
            background-color: var(--main-bg-color);
            cursor: pointer;
        }

        >div div:hover{
            border-color: var(--main-style-color);
            color: var(--main-txt-color);
            cursor: pointer;
        }
    }

    >h1 {
        display: inline;
    }
    .seachBox {
        float: right;
    }
}